:root {
    --player-1-color: #64c3ff;
    --player-2-color: #ff573a;
}

body {
    background-color: #35353b;
}

h1 {
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}

h3 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em; 
    font-weight: 500;
}

sup {
    color: #fc70f5;
}

.group {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    
}

.group2 {
    margin: auto;
    display: flex;
    width:500px;
    justify-content: space-around;
    align-items: center;
    
}

.gameContainer {
    width: 60%;
    margin: auto;
    padding: 10px;
}
.grid {
    border: 3px solid;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 600px;
    width: 700px;
    border-color: white;
}

.grid div {
    height: 100px;
    width: 100px;
    
}


.player-one {
    background-color: var(--player-1-color); 
    border-radius: 50%;
}

.player-two {
    background-color: var(--player-2-color);
    border-radius: 50%;
}

#current {
    text-align: center;
}

#result {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829)
}

#resultType {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;

}