.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .VideoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .form {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  .inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
  }

  .inputContainer label {
    text-align: left;
  }

  blockquote {
    margin: auto;
    background-color: #bcb3ec;
    padding: 3%;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 5%;
  }
  
  #sessionCountdown {
    font-weight: bold;
    font-size: large;
  }
  