<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encounter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New Encounter</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-grid>
    <ion-row>
      <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-textarea [(ngModel)]="encounterTitle" id="encounterTitle" rows="1"></ion-textarea>
      </ion-item>
    </ion-col>
    </ion-row>
<ion-row>
  <ion-col size="12">
  <ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea [(ngModel)]="encounterDesc" id="encounterDesc" rows="3" cols="20" placeholder="Tell us a bit about your own goose story!"></ion-textarea>
</ion-item></ion-col></ion-row>
      <ion-row>
        <ion-col size="12">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://cdn-icons-png.flaticon.com/512/1391/1391045.png">
          </ion-thumbnail>
          <ion-label position="stacked">Poop Count</ion-label>
          <ion-input [(ngModel)]="encounterPoop" id="encounterPoop" type="number" value="0"></ion-input>
        </ion-item>
        </ion-col>
        <ion-col size="12">
        <ion-item >
          <ion-thumbnail slot="start">
          <img src="https://cdn-icons-png.flaticon.com/512/141/141723.png">
          </ion-thumbnail>
          <ion-label position="stacked">Angry Goose</ion-label>
          <ion-input [(ngModel)]="encounterGoose" id="encounterGoose" type="number" value="0"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
<br>
<br>
<ion-row>
  <ion-col size="2"></ion-col>
  <ion-col>
    <ion-button (click)="getCurrentLocation()"  color="secondary" shape="block">
      <ion-icon name="search-outline"></ion-icon>
  Get Current Location</ion-button>
  </ion-col>
  <ion-col size="2"></ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
  <ion-item>
    <ion-label position="stacked">Longitude</ion-label>
    <ion-textarea [(ngModel)]="encounterLong"  rows="1" value="{{longitude}}"></ion-textarea>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
  <ion-item>
    <ion-label position="stacked">Latitude</ion-label>
    <ion-textarea [(ngModel)]="encounterLat" rows="1" value="{{latitude}}"></ion-textarea>
  </ion-item>
</ion-col>
</ion-row>
<br>
<br>

  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col>
      <ion-button (click)="addPhotoToGallery()"  shape="block">
      <ion-icon name="add-outline"></ion-icon>
       Photo Proof</ion-button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col nowrap  size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button (click)="reportEncounter()" shape="block" expand='full' color="tertiary">
        <ion-icon name="add-outline"></ion-icon>
        Report Encounter
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>