<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encounter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encounter</ion-title>
    </ion-toolbar>
  </ion-header>


  <br><br><br>
    <ion-row>
      <ion-col size="5">
        <ion-button expand="block" fill="outline">Poop</ion-button>
    </ion-col>
      <ion-col>
        <ion-item>
          vs.
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="block" fill="outline">Angry</ion-button>
    </ion-col>
    </ion-row>


<br>

<ion-list-header>
<ion-label>Present Your Evidence...</ion-label>
</ion-list-header>

<ion-grid>

  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col><ion-button (click)="addPhotoToGallery()" shape="round">Open Camera</ion-button></ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>Location Coordinates</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitude
      </ion-label>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>
    </ion-list>    
  </div>




  <br>
<br>

<br>
<ion-list-header>
<ion-label>Select encounter type...</ion-label>
</ion-list-header>

    <ion-list>
      <ion-radio-group value="poop">
    
        <ion-item>
          <ion-label>Poop</ion-label>
          <ion-radio slot="start" value="poop"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label> Angry</ion-label>
          <ion-radio slot="start" value="angry"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>



<!-- Disabled and readonly textarea in an item with a stacked label -->
<ion-item>
  <ion-label position="stacked">Summary</ion-label>
  <ion-textarea
    disabled
    readonly
    value="Tell us a bit about your own goose story!">
  </ion-textarea>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>



<!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label>Notes</ion-label>
  <ion-textarea rows="6" cols="20" placeholder="Is there anything you want to note?"></ion-textarea>
</ion-item>





<ion-row>
  <ion-col size="3"></ion-col>
  <ion-col><ion-button expand="full">Submit</ion-button></ion-col>
  <ion-col size="3"></ion-col>
</ion-row>
</ion-grid>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
